<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

{% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}

            {% for category, mensagem in mensagens %}

                {% if category == 'error' %}
                    <div style="padding: 20px; color: white; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/registro">
                                <label for="Registrar"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Registrar"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>

                {% elif category == 'success' %}
                    <div style="padding: 20px; color: white; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/login">
                                <label for="Email-Invalido"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Email-Invalido"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>

                {% elif category == 'contac' %}
                    <div style="padding: 20px; color: white; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/login">
                                <label for="Conta-Criada"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Conta-Criada"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>

                {% elif category == 'emailnc' %}
                    <div style="padding: 20px; color: white; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/password-recover">
                                <label for="Email-nao-Cadastrado"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Email-nao-Cadastrado"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>

                {% elif category == 'senhai' %}
                    <div style="padding: 20px; color: white; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/password-retype">
                                <label for="Senha-Incorreta"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Senha-Incorreta"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>

                {% elif category == 'senhas' %}
                    <div style="padding: 20px; color: white; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/login">
                                <label for="Senha-Sucesso"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Senha-Sucesso"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>

                {% else %}
                    <div style="padding: 20px; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ mensagem }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <a href="/">
                                <label for="Sucesso"></label>
                                <input
                                    type="button"
                                    class="btn btn-primary"
                                    id="Sucesso"
                                    name="Sign-up"
                                    value = "X"
                                />
                            </a>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

<body>
    <div class="navbar">
        {% if user.is_authenticated %}
        <div class="logo itens-nav">
            <a href="/"><img class="logo-foto" src="/static/assets/images/Studex.png"></a>
        </div>
        <div class="itens-nav"><a>
                <h3 class="nav-texto">Sobre</h3>
            </a></div>
        <div class="itens-nav"><a>
                <h3 class="nav-texto">Como Funciona</h3>
            </a></div>

        <div class="itens-nav">
            <a href="/perfil" target="_blank">
                <h3 class="nav-texto">Perfil</h3>
            </a></div>

        <div class="logo itens-nav">
            <a href="/login"><img class="logout" src="/static/assets/images/logout.png"></a>
        </div>

        {% else %}
        <div class="logo itens-nav">
            <a href="/"><img class="logo-foto" src="/static/assets/images/Studex.png"></a>
        </div>
        <div class="itens-nav"><a>
                <h3 class="nav-texto">Sobre</h3>
            </a></div>
        <div class="itens-nav"><a>
                <h3 class="nav-texto">Como Funciona</h3>
            </a></div>

        <div class="itens-nav">
            <a href="/forms" target="_blank">
                <h3 class="nav-texto">Registre o seu</h3>
            </a>
        </div>
        <div class="logo itens-nav">
            <a href="/login"><img class="logout" src="/static/assets/images/logout.png"></a>
        </div>

        {% endif %}

    </div>

{% block content %}
{% endblock %}
</body>
</html>