{% extends  "base.html" %}
{% block title %} Editar {% endblock %}

{% block content %}

    <form action="#" method="POST" name="formData">
        <div class="bloco-centro">
            <div class="bloco-informacoes">
                <div class="foto-pokebola-branca">
                    <div class="bloco-nome-ra">
                        <div class="editar-cima">
                            <input class="editar-nome" type="text" id="nm" value="{{ user.usuario }}">
                            <label for="nm"></label>
                            <input class="editar-ra" type="text" id="em" value="{{ user.ra }}">
                        </div>
                    </div>
                    <div class="bloco-icone">
                        <img class="icone-perfil" src="static/assets/images/poke9.png">
                    </div>
                </div>
                <div class="quadrado-branco-perfil">
                    <div class="bloco-info-area">
                        <div class="fundo-azul-perfil"><h1 class="area-perfil"> Perfil </h1></div>
                    </div>

                    <div class="bloco-info-semestre">
                        <input class="editar-semestre" id="se" type="text" value="{{ user.semestre }}">
                    </div>
                    <br><br>
                    <div class="bloco-info-so-tempo-ling">
                        <div class="so-perfil">
                            <input class="editar-infos" id="so" type="text" value="{{ user.so }}">
                            <br> Sistema Operacional
                        </div>

                        <div class="linha-reta-perfil"></div>
                        <div class="tempo-perfil">
                            <input class="editar-infos" id="tm" type="text" value="{{ user.tempo }}">
                            <br>Tempo que Programação
                        </div>

                        <div class="linha-reta-perfil"></div>
                        <div class="ling-perfil">
                            <input class="editar-infos" id="lg" type="text" value="{{ user.linguagem }}">
                            <br>Linguagem Preferida
                        </div>
                    </div>

                    <div class="bloco-info-resumo">
                        <input class="editar-resumo" id="rs" type="text" value="{{ user.resumo }}">
                    </div>

                    <h1 style="color: #74347e;">Proficiência Linguagens</h1>
                    <div class="bloco-info-linguagens">
                        <div>
                            <div class="py-perfil">PY</div>
                            <div class="js-perfil">JS</div>
                            <div class="cpp-perfil">C++</div>
                            <div class="html-perfil">HTML</div>
                            <div class="css-perfil">CSS</div>
                            <div class="java-perfil">JAVA</div>
                        </div>
                        <div class="barra-lateral-info"></div>
                        <div class="numeros-info-perfil">
                            <div style="display: block;">
                                <input class="editar-prof" id="py" type="text" value="{{ user.python }}"><br>
                                <input class="editar-prof" id="js"  type="text" value="{{ user.javascript }}"><br>
                                <input class="editar-prof" id="c" type="text" value="{{ user.c }}"><br>
                                <input class="editar-prof" id="html" type="text" value="{{ user.html }}"><br>
                                <input class="editar-prof" id="html" type="text" value="{{ user.html }}"><br>
                                <input class="editar-prof" id="java" type="text" value="{{ user.java }}"><br>
                            </div>
                        </div>
                        <div class="progresso-perfil">
                            <progress max="10"></progress>
                            <br>
                            <progress max="10"></progress>
                            <br>
                            <progress max="10"></progress>
                            <br>
                            <progress max="10"></progress>
                            <br>
                            <progress max="10"></progress>
                            <br>
                            <progress max="10"></progress>
                            <br>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top:2%;">
            <button class="editar-botao" type="submit">
                Confirmar Alterações
            </button>
        </div>
    </form>


{% endblock %}