{% extends  "base.html" %}
{% block title %} Formulario {% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="imagem-fundo-form">
        <div class="main-form">
            <form class="formulario" action="#" method="post">
                <img class="img-formulario" src="static/assets/images/Formulario.png">
                <div class="fields">
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.nome) }}
                    {{ wtf.form_field(form.ra) }}
                    {{ wtf.form_field(form.tempo_prog) }}
                    {{ wtf.form_field(form.ling_pref) }}
                    {{ wtf.form_field(form.sis_op) }}
                    {{ wtf.form_field(form.nivel_py) }}
                    {{ wtf.form_field(form.nivel_c) }}
                    {{ wtf.form_field(form.nivel_htmlcss) }}
                    {{ wtf.form_field(form.nivel_java) }}
                    {{ wtf.form_field(form.resumo) }}
                    {{ form.hidden_tag() }}
                       <button class="botao-form" type="submit">
                            <img class="pokebola-botao" src="/static/assets/images/pokebola.png" alt="pokebola">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

