{% extends  "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="header-1">
        <div class="imagem-fundo">
            <div class="botoes-1">
                <div>
                    <button class="m-botao">PESQUISAR</button>
                </div>
                <div>
                    <button class="m-botao">
                    MAPA
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="sobre"></div>
    <div class="como-funciona"></div>
    <div class="adicione"></div>

{% endblock %}




