{% extends  "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="header-1">
        <div class="imagem-fundo">
            <div class="botoes-1">
                <div>
                    <a href="pesquisar">
                        <button class="m-botao">PESQUISAR</button>
                    </a>
                </div>
                <div>
                    <a href="mapa">
                        <button class="m-botao">MAPA</button>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="sobre" id="sobre">
        <div class="conteudo-sobre">
            <img class="imagem-sobre" src="static/assets/images/Sobre.png" alt="sobre">
            <h2 class="texto-sobre">
                Studex é um site que imita a ideia e estilização de uma "Pokedex", fazendo referência ao desenho
                Pokémon. Contudo, a proposta é registrar as características e qualidades dos estudantes de
                Ciência da Computação do Centro Universitário de Brasília - CEUB. Assim, com algumas perguntas
                relacionadas às principais linguagens de programação e sobre atuação no mercado de computação,
                é possível conhecer melhor o perfil e capacidades dos alunos,
                de uma forma descontraída e divertida.
            </h2>
        </div>

        <div class="participantes-sobre">
            <div class="membro-sobre">
                <img class="membro-foto" src="static/assets/images/zoser.jpg">
                <h3 class="membro-texto"> Front-End </h3>
                <div class="membro-perfil">
                    <a>
                        <img style="width: 80px" src="static/assets/images/icon-perfil.png" alt="icon-perfil">
                    </a>
                    <a href="https://www.linkedin.com/in/lucaszoser/" target="_blank">
                        <img class="linkedin-foto" src="static/assets/images/linkedin.png">
                    </a>
                </div>
            </div>
            <div class="membro-sobre">
                <img class="membro-foto" src="static/assets/images/leosands.jpg">
                <h3 class="membro-texto"> Front-End </h3>

                <div class="membro-perfil">
                    <a>
                        <img style="width: 80px" src="static/assets/images/icon-perfil.png" alt="icon-perfil">
                    </a>
                    <a href="https://www.linkedin.com/in/leonardo-areias-b2a421202/" target="_blank">
                        <img class="linkedin-foto" src="static/assets/images/linkedin.png"></a>
                </div>

            </div>
            <div class="membro-sobre">
                <img class="membro-foto" src="static/assets/images/leobom.jpg">
                <h3 class="membro-texto"> Back-End </h3>
                <div class="membro-perfil">
                    <a>
                        <img style="width: 80px" src="static/assets/images/icon-perfil.png" alt="icon-perfil">
                    </a>
                    <a href="https://www.linkedin.com/in/leonardo-pl%C3%A1cido-18299424b/" target="_blank">
                        <img class="linkedin-foto" src="static/assets/images/linkedin.png"></a>
                </div>
            </div>
            <div class="membro-sobre">
                <img class="membro-foto" src="static/assets/images/pedrao.jpg">
                <h3 class="membro-texto"> Dados </h3>
                <div class="membro-perfil">
                    <a>
                        <img style="width: 80px" src="static/assets/images/icon-perfil.png" alt="icon-perfil">
                    </a>
                    <a href="" target="_blank">
                        <img class="linkedin-foto" src="static/assets/images/linkedin.png"></a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="como-funciona" id="como-funciona">
        <div class="conteudo-como-funciona">
            <img class="imagem-como-funciona" src="static/assets/images/ComoFunciona.png">
            <div>
                <h1 class="texto-como-funciona">
                    Para usar o Studex, é necessário cadastrar suas informações no formulário “Registre o Seu”.
                    Depois disso, é preciso logar na sua conta, e assim, você terá acesso ao seu perfil,
                    que poderá ser editado e atualizado conforme você deseja.<br>
                    <br>
                    Pesquisa: Na aba de pesquisa, você poderá pesquisar pelos alunos cadastrados,
                    filtrando por características e habilidades específicas.<br>
                    <br>
                    Mapa: Na aba mapa, você poderá ver onde os alunos
                    cadastrados e logados estão no mapa do CEUB.
                </h1>
            </div>
        </div>
    </div>

{% endblock %}




