{% extends  "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Login {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="imagem-fundo-form">
        <div class="main-form">
            <form class="formulario" action="/login" method="POST">
                <img src="static/assets/images/Formulario.png">
                <div class="fields">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.remember) }}

                    <button class="botao-form" type="submit">
                        <img class="pokebola-botao" src="/static/assets/images/pokebola.png" alt="pokebola">
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

