{% extends  "base.html" %}
{% block title %} Perfil {% endblock %}

{% block content %}
<div class="bloco-centro">
    <div class="bloco-informacoes">
        <div class="foto-pokebola-branca">
            <div class="bloco-nome-ra">
                <h1 class="nome-perfil"> Pedro Henrique </h1>
                <h1 class="ra-perfil"> #22105593</h1>
            </div>

            <div class="bloco-icone">
                <img class="icone-perfil" src="static/assets/images/icon.png">
            </div>
        </div>
        <div class="quadrado-branco-perfil">
            <div class="bloco-info-area">
                <div class="fundo-azul-perfil"><h1 class="area-perfil"> Dados </h1></div>
            </div>

            <div class="bloco-info-semestre">
                <h1 class="semestre-perfil"> 4° Semestre </h1>
            </div>

            <div class="bloco-info-so-tempo-ling">
                <div class="so-perfil">
                    <b class="texto-especial">Linux</b>
                    <br> Sistema Operacional</div>

                <div class="linha-reta-perfil"></div>
                <div class="tempo-perfil">
                    <b class="texto-especial">2 anos</b>
                    <br>Tempo que Programação </div>

                <div class="linha-reta-perfil"></div>
                <div class="ling-perfil">
                <b class="texto-especial">Python</b>
                    <br>Linguagem Preferida</div>
            </div>

            <div class="bloco-info-resumo">
                <h2 class="texto-resumo-perfil">Tem uma vasta expêriencia com Ciência de Dados, atuando principalmente
                    na manuteção do banco e como DataOps. Atualmente, trabalha no Ministério da Infraestrutura,
                    tendo muito interesse na área de Machine Learning.</h2>
            </div>

            <h1 style="color: #6493EB;">Proficiência Linguagens</h1>
            <div class="bloco-info-linguagens">
                <div>
                    <div class="py-perfil">PY</div>
                    <div class="js-perfil">JS</div>
                    <div class="cpp-perfil">C++</div>
                    <div class="html-perfil">HTML</div>
                    <div class="css-perfil">CSS</div>
                    <div class="java-perfil">JAVA</div>
                </div>
                <div class="barra-lateral-info"></div>
                <div class="numeros-info-perfil">
                    <div>090</div>
                    <div>085</div>
                    <div>065</div>
                    <div>080</div>
                    <div>065</div>
                    <div>060</div>
                </div>
                <div class="progresso-perfil">
                    <progress value="90" max="100"></progress><br>
                    <progress value="85" max="100"></progress><br>
                    <progress value="65" max="100"></progress><br>
                    <progress value="80" max="100"></progress><br>
                    <progress value="65" max="100"></progress><br>
                    <progress value="60" max="100"></progress><br>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}