{% extends  "base.html" %}
{% block title %} Perfil {% endblock %}

{% block content %}
<div class="bloco-centro">
    <div class="bloco-informacoes">
        <div class="foto-pokebola-branca">
            <div class="bloco-nome-ra">
                <h1 class="nome-perfil"> Pedro Henrique </h1>
                <h1 class="ra-perfil"> #22105593</h1>
            </div>

            <div class="bloco-icone">
                <img class="icone-perfil" src="static/assets/images/icon.png">
            </div>
        </div>
        <div class="quadrado-branco-perfil">
            <div class="bloco-info-area">
                <div class="fundo-azul-perfil"><h1 class="area-perfil"> Dados </h1></div>
            </div>

            <div class="bloco-info-semestre">
                <h1 class="semestre-perfil"> 4° Semestre </h1>
            </div>

            <div class="bloco-info-so-tempo-ling">
                <div class="so-perfil">Linux
                </div>
                <div class="tempo-perfil">2 anos
                </div>
                <div class="ling-perfil">
                    Python
                </div>
            </div>

            <div class="bloco-info-resumo">
                <h2>Tem uma vasta expêriencia com Ciência de Dados, atuando principalmente
                    na manuteção do banco e como DataOps. Atualmente, trabalha no Ministério da Infraestrutura,
                    tendo muito interesse na área de Machine Learning.</h2>
            </div>

            <div class="bloco-info-linguagens">
                <div class="py-perfil"></div>
                <div class="js-perfil"></div>
                <div class="cpp-perfil"></div>
                <div class="html-perfil"></div>
                <div class="css-perfil"></div>
                <div class="java-perfil"></div>
            </div>

        </div>
    </div>
</div>

{% endblock %}