{% extends  "base.html" %}
{% block title %} Perfil {% endblock %}

{% block content %}
<div class="bloco-centro">
    <div class="bloco-informacoes">
        <div class="foto-pokebola-branca">
            <div class="bloco-nome-ra">
                <h1 class="nome-perfil"> {{usuario.usuario}} </h1>
                <h1 class="ra-perfil"> #{{usuario.ra}}</h1>
            </div>

            <div class="bloco-icone">
                <img class="icone-perfil" src="static/assets/images/icon.png">
            </div>
        </div>
        <div class="quadrado-branco-perfil">
            <div class="bloco-info-area">
                <div class="fundo-azul-perfil"><h1 class="area-perfil"> Dados </h1></div>
            </div>

            <div class="bloco-info-semestre">
                <h1 class="semestre-perfil"> {{usuario.semestre}} Semestre </h1>
            </div>

            <div class="bloco-info-so-tempo-ling">
                <div class="so-perfil">
                    <b class="texto-especial">{{usuario.so}}</b>
                    <br> Sistema Operacional</div>

                <div class="linha-reta-perfil"></div>
                <div class="tempo-perfil">
                    <b class="texto-especial">{{usuario.tempo}}</b>
                    <br>Tempo que Programação </div>

                <div class="linha-reta-perfil"></div>
                <div class="ling-perfil">
                <b class="texto-especial">{{usuario.linguagem}}</b>
                    <br>Linguagem Preferida</div>
            </div>

            <div class="bloco-info-resumo">
                <h2 class="texto-resumo-perfil">{{usuario.resumo}}</h2>
            </div>

            <h1 style="color: #6493EB;">Proficiência Linguagens</h1>
            <div class="bloco-info-linguagens">
                <div>
                    <div class="py-perfil">PY</div>
                    <div class="js-perfil">JS</div>
                    <div class="cpp-perfil">C++</div>
                    <div class="html-perfil">HTML</div>
                    <div class="css-perfil">CSS</div>
                    <div class="java-perfil">JAVA</div>
                </div>
                <div class="barra-lateral-info"></div>
                <div class="numeros-info-perfil">
                    <div>090</div>
                    <div>085</div>
                    <div>065</div>
                    <div>080</div>
                    <div>065</div>
                    <div>060</div>
                </div>
                <div class="progresso-perfil">
                    <progress value={{usuario.python}} max="10"></progress><br>
                    <progress value={{usuario.javascript}} max="10"></progress><br>
                    <progress value={{usuario.c}} max="10"></progress><br>
                    <progress value={{usuario.html}} max="10"></progress><br>
                    <progress value={{usuario.html}} max="10"></progress><br>
                    <progress value={{usuario.python}} max="10"></progress><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="botoes-crud">
    <div class="editar-crud">
        <ul>
            <li><a href="#" aria-haspopup="true">Editar</a>
              <ul class="dropdown" aria-label="submenu">
                    <li><a href="#">Semestre</a></li>
                <li><a href="#">Tempo de Programação</a></li>
                <li><a href="#">Linguagem Preferida</a></li>
                <li><a href="#">Sistema Operacional</a></li>
                <li><a href="#">Conhecimento em Python</a></li>
                <li><a href="#">Conhecimento em JS</a></li>
                <li><a href="#">Conhecimento em C++</a></li>
                <li><a href="#">Conhecimento em HTML/CSS</a></li>
                <li><a href="#">Conhecimento em Java</a></li>
                <li><a href="#">Resumo</a></li>
              </ul>
            </li>
          </ul>
    </div>



</div>

{% endblock %}