{% extends  "base.html" %}
{% block title %} Pesquisar {% endblock %}

{% block content %}

<div style="display: flex; align-items: center; text-align: center; justify-content: center; margin-top: 5%;">
    <div class="barra-pesquisar">
        <img src="static/assets/images/pesquisapoke.png" id="btnBusca" alt="Buscar" />
        <input class="escrever-pesquisar" type="text" id="txtBusca" placeholder="Buscar..."/>
        <button class="botao-pesquisar">Buscar</button>
    </div>
    <div class="resultados-pesquisar">
    

    </div>

</div>

{% endblock %}