
<div class="resultado2-pesquisa">
    <div>
        <h2 class="titulo-response-usuario">Perfis</h2>
    </div>
    <div></div>
    <div></div>

    {% for row in usuario %}
        <form action="/perfil-singular" method="POST">
            <div class="resultado-response-usuario">
                <div class=resultado-response-usuario">
                  <h3 class="titulo-perfil-nome">{{ row.usuario }}</h3>
                </div>
                <a href="/perfil-singular" target="_blank">
                    <button class="ver-perfil" id="ra-ind" name="ra-ind" type="submit" value="{{ row.ra }}">
                        <img style="width: 80px" src="static/assets/images/icon-perfil.png" alt="icon-perfil">
                    </button>
                </a>
            </div>
        </form>

    {% endfor %}

</div>

