body{
    margin: 0;
    padding: 0;
    background-color: black;
}
/*INICIO NAVBAR*/
.navbar{
    display: flex;
    width: 100%;
    height: 100px;
    background: black;
    align-items: center;
    background-attachment: fixed;
}
.itens-nav{
    margin-left: 12%;
}
.nav-texto{
    color: rgb(228, 228, 4);
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}
.logout{
    width: 60px;
}
.logo-foto{
    width: 150px;   
}
/*FIM NAVBAR*/
/*INICIO HOME*/
.header-1{
    display: block;
    align-items: center;
}
.imagem-fundo{
    display: block;
    background-image: url('/static/assets/images/fundo_home.jpg');
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.botoes-1{
    display: block;
    text-align: center;
    padding-top: 15%;   
}
.m-botao{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 1%;
    align-items: center;
    height: 100px;
    width: 300px;
    color: #396BBA;
    background-color: #FFE031;
    border-radius: 30px;
}
/*FIM HOME*/

/*INICIO ADICIONE O SEU - Form*/
.imagem-fundo-form{
    background-image: url('/static/assets/images/fundo_squirtle.jpg');
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.main-form{
    background-color: #041b40;   
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 1%;
    text-align: center;
    height: 900px;
    width: 600px;
    display: block;
}

.ling-inputs{
    padding-top: 3%;
    display: block;
    color: #FFE031;
    font-size: 27px;
}
.caixa-form{
    border-radius: 10px;
}
.caixa-form-maior{
    width: 420px;
    height: 80px;
}


/*FIM ADICIONE O SEU*/