<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="navbar">
        <div class="logo itens-nav">
            <a href="home.html"><img class="logo-foto" src="/static/assets/images/Studex.png"></a>
        </div>
        <div class="itens-nav"><a>
                <h3 class="nav-texto">Sobre</h3>
            </a></div>
        <div class="itens-nav"><a>
                <h3 class="nav-texto">Como Funciona</h3>
            </a></div>
        <div class="itens-nav">
            <a href="">
                <h3 class="nav-texto">Adicione o seu</h3>
            </a>
        </div>
        <div class="logo itens-nav">
            <a href="login.html"><img class="logout" src="/static/assets/images/logout.png"></a>
        </div>
    </div>
    <div class="imagem-fundo-form">
        <div class="main-form">
            <form>
                <div class="ling-inputs">
                    <label for="nomes">Qual o seu nome?</label><br>
                    <input class="caixa-form" type="input" name="nomes" id="nomes" />
                </div>
                <div class="ling-inputs">
                    <label for="ra">Qual o seu RA?</label><br>
                    <input class="caixa-form" type="number" name="ra" id="ra" />
                </div>
                <div class="ling-inputs">
                    <label for="anos">Há quantos anos você programa?</label><br>
                    <input class="caixa-form" type="number" name="anos" id="anos" />
                </div>
                <div class="ling-inputs">
                    <label for="preferidas">2 linguagens de programação preferidas</label><br>
                    <input class="caixa-form" type="number" name="preferidas" id="preferidas" />
                </div>
                <div class="ling-inputs">
                    <label for="semestre">Qual o seu semestre?</label><br>
                    1<input class="caixa-form" type="radio" value="1" name="1" id="semestre"/>
                    2<input class="caixa-form" type="radio" value="2" name="2" id="semestre"/>
                    3<input class="caixa-form" type="radio" value="3" name="3" id="semestre"/>
                    4<input class="caixa-form" type="radio" value="4" name="4" id="semestre"/>
                    5<input class="caixa-form" type="radio" value="5" name="5" id="semestre"/>
                    6<input class="caixa-form" type="radio" value="6" name="6" id="semestre"/>
                    7<input class="caixa-form" type="radio" value="7" name="7" id="semestre"/>
                    8<input class="caixa-form" type="radio" value="8" name="8" id="semestre"/>
                </div>
                <div class="ling-inputs">
                    <label for="semestre">Qual o seu semestre?</label><br>
                    Linux<input class="caixa-form" type="radio" value="1" name="so" id="linux"/>
                    Windows<input class="caixa-form" type="radio" value="2" name="so" id="windows"/>
                    macOS<input class="caixa-form" type="radio" value="3" name="so" id="macos"/>
                </div>
                <div class="ling-inputs">
                    <label for="points">Qual seu nível em Python? (0-10)</label>
                    <input class="caixa-form" type="range" name="Python" id="points" min="0" max="10" step="1" />
                </div>
                <div class="ling-inputs">
                    <label for="points">Qual seu nível em JavaScript? (0-10)</label>
                    <input class="caixa-form" type="range" name="JavaScript" id="points" min="0" max="10" step="1" />
                </div>
                <div class="ling-inputs">
                    <label for="points">Qual seu nível em HTML/CSS? (0-10)</label>
                    <input class="caixa-form" type="range" name="CC++" id="points" min="0" max="10" step="1" />
                </div>
                <div class="ling-inputs">
                    <label for="points">Qual seu nível em C/C++? (0-10)</label>
                    <input class="caixa-form" type="range" name="CC++" id="points" min="0" max="10" step="1" />
                </div>
      
                <div class="ling-inputs">
                    <label for="resumo">
                        Fale um pouco sobre você, qual área da programação você trabalha/pretende trabalhar, 
                        qual área que você tem interesse ou acha mais promissora.
                    </label><br>
                    <input class="caixa-form-maior" type="text" name="resumo" id="resumo"/>
                </div>
            
            </form>
        </div>
    </div>
    
</body>

</html>