<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo itens-nav">
            <a href="home.html"><img class="logo-foto" src="/static/assets/images/Studex.png"></a>
        </div>
        <div class="itens-nav"><a><h3 class="nav-texto">Sobre</h3></a></div>
        <div class="itens-nav"><a><h3 class="nav-texto">Como Funciona</h3></a></div>
        <div class="itens-nav"><a><h3 class="nav-texto">Adicione o seu</h3></a></div>
        <div class="logo itens-nav">
            <a href="login.html"><img class="logout" src="/static/assets/images/logout.png"></a>
        </div>
    </div>
    <div class="">
    </div>
</body>

</html>