{% extends  "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
    <style>
        body {
            background-color: #191919;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="centro">
        <form class="grupo" method="POST" name="myForm">
            <div class="form-group">
                <img class="imagem-login" src="static/assets/images/login.png">
                <label for="email"></label>
                <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Email"
                />

                <label for="password"></label>
                <input
                        type="password"
                        class="form-control login"
                        id="password"
                        name="password"
                        placeholder="Senha"
                />

                <label class="login-label" for="login"></label>
                <input
                        type="submit"
                        class="form-control"
                        id="login"
                        name="Login"
                        value="Login"
                        onclick="submit()"
                />

                <a href="/forms">
                    <label for="Registrar"></label>
                    <input
                            type="button"
                            class="btn btn-primary"
                            id="Registrar"
                            name="Sign-up"
                            value="Registre-se"
                    />
                </a>

                <a href="/password-recover">
                    <label for="password_recover"></label>
                    <input
                            type="button"
                            class="btn btn-primary"
                            id="password_recover"
                            name="Recuperação de Senha"
                            value="Recuperação de Senha"
                    />
                </a>
            </div>

        </form>
    </div>

    <script type="text/javascript">
        $(".menu-toggle-btn").click(function () {
            $(this).toggleClass("fa-times");
            $(".navigation-menu").toggleClass("active");
        });
    </script>

{% endblock %}
