body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Inicio Style NavBar*/
.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background: black;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.itens-nav {
    margin: auto;
}

.nav-texto {
    color: rgb(228, 228, 4);
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.logout {
    width: 60px;
}

.logo-foto {
    width: 150px;
}

/* Fim Style NavBar*/
/* Inicio Style Home*/
.header-1 {
    display: block;
    align-items: center;
}

.imagem-fundo {
    display: block;
    background-image: url('/static/assets/images/fundo_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.botoes-1 {
    display: block;
    text-align: center;
    padding-top: 15%;
}

.m-botao {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 1%;
    align-items: center;
    height: 100px;
    width: 300px;
    color: #396BBA;
    background-color: #FFE031;
    border-radius: 30px;
}
.sobre{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
}
.imagem-sobre{
    margin-top: 4%;
    width: 300px;
}
.texto-sobre{
    color: #ffe031;
    text-align: justify;
    font-size: 35px;
    width: 60%;
    margin-top: 3%;
    margin-left: 20.5%;
}
.participantes-sobre{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
.membro-sobre{
    display: block;
    padding: 1%;
}
.membro-foto{
    width: 350px;
}
.membro-texto{
    color: #ffe031;
    font-size: 30px;
}
.linkedin-foto{
    width: 80px;
}
.como-funciona{
    display: block;
    background-image: url('/static/assets/images/squirtle-funciona.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.texto-como-funciona{
    text-align: justify;
    width: 50%;
    color: #FFE031;
    font-size: 34px;
    margin: 2%;
}
.imagem-como-funciona{
    margin: 3%;
}
.footer{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #041b40;
    justify-content: space-around;
    width: 100%;
}
/* Fim Style Home*/
/* Inicio Style Forms */
.imagem-fundo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    background-repeat: no-repeat;
}

.img-formulario {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main-form {
    display: block;
    background-color: #041b40;
    width: 800px;
    border-radius: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.fields {
    display: block;
    font-size: 29px;
    color: #FFE031;
}

.caixa-form {
    border-radius: 10px;
    text-indent: 1em;
    text-align: center;
    font-size: 25px;
    width: 600px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.fields-range {
    display: block;
}

.points {
    width: 550px;
    margin-top: 5px;
}

.texto-resumo {
    width: 200px;
    text-align: justify;
}

.caixa-form-maior {
    margin-top: 2%;
    width: 600px;
    height: 90px;
    border-radius: 20px;
}

.botao-form {
    background-color: #041b40;
    border: none;
}

.pokebola-botao {
    height: auto;
    width: 100px;
}

/* Fim Style Forms */

/* Style Login */
.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-titulo {
    font-size: 40px;
    color: #FFE031;
}

.imagem-login {
    margin-top: 7%;
}

.form-group {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.form-control {
    display: block;
    text-align: center;
    background-color: #3D69BB;
    color: #FAC705;
    box-shadow: #FFE031;
    font-size: 30px;
    width: 600px;
    height: 60px;
    border-radius: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.form-control::placeholder {
    color: white;
}

.btn-primary {
    display: block;
    width: 600px;
    height: 80px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #ED3237;
    font-size: 30px;
    color: white;
}

/* Fim Style Login */
/* Inicio Style Perfil */
.bloco-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.bloco-informacoes {
    width: 680px;

    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #8A4993;
    outline: 20px solid white;
    padding: 16px;
}

.foto-pokebola-branca {
    background-image: url("assets/images/pokebolabraca.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.bloco-nome-ra {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.nome-perfil {
    color: white;
    font-size: 45px;
}

.ra-perfil {
    color: white;
    margin-left: 10%;
}

.bloco-icone {
    display: flex;
    align-items: center;
    justify-content: center
}

.icone-perfil {
    width: 300px;
}

.quadrado-branco-perfil {
    display: block;
    background-color: white;
    width: 682px;
    border-radius: 40px;
}

.bloco-info-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-perfil {
    border-radius: 20px;
    color: white;
    background-color: #74347e;
    width: 150px;
    height: 40px;
    margin-top: 7%;
    text-align: center;
}

.semestre-perfil {
    color: #74347e
}

.bloco-info-so-tempo-ling {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.linha-reta-perfil {
    width: 3px;
    height: 100px;
    background-color: #E0E0E0;
}

.bloco-info-resumo {
    display: flex;
    justify-content: center;
    width: 550px;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 20px;
}

.texto-resumo-perfil {
    text-align: justify;
}

.bloco-info-linguagens {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 6%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.progresso-perfil {
    font-size: 27px;
    color: #74347e;
}

.numeros-info-perfil {
    font-size: 22px;
}

.barra-lateral-info {
    width: 3px;
    height: 160px;
    background-color: #E0E0E0;
}

.editar-crud {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    background: #FFE031;
    list-style: none;
    width: 300px;
    padding-left: 0;
    text-align: center;
    font-size: 40px;
    height: 60px;
    margin-top: 3%;

}

li {
    color: #fff;
    background: #FFE031;
    display: block;
    float: left;
    width: 300px;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #041b40;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* Fim Style Perfil*/
/* Inicio Style Pesquisar */
.barra-pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    width: 800px;
    height: 100px;
}

.escrever-pesquisar {
    background-color: transparent;
    text-align: center;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 100px;
    width: 700px;
}

.botao-pesquisar {
    border: none;
    height: 100px;
    border-radius: 0 7px 7px 0;
    width: 100px;
    font-weight: bold;
    background: orangered;
}

.container-pesquisar{
    display: block;
    text-align: justify;
}
.botao-aplicar-pesquisa{
    width: 130px;
    height: 35px;
    font-size: 16px;
    font-weight: bolder;
    color: #3D69BB;
    background-color: #ffe031;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 12%;
}

.barra-pesquisar img {
    width: 100px;
}

.filtros-pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 80px;
    background-color: orangered;
    margin-left: 5%;
    border-radius: 20px;
}

.texto-filtros-pesquisar {
    color: white;
    font-size: 35px;
    margin-left: 5%;
}

#myDIV {
    display: flex;
    background-color: #041b40;
    width: 350px;
    border-radius: 20px;
    outline: 2px solid #FFE031;
    margin-left: 4%;
}

.quadrado {
    margin: 18px;
    outline: 2px solid white;
    width: 20px;
    height: 20px;
}

.quadrado-texto {
    display: flex;
}
.quadrados-pesquisar{
    margin-left: 10px;
}
.textos-quadrado-pesquisar {
    color: white;
    margin-top: 18px;
    font-size: 22px;
    margin-left: 5px;
}

.botao-filtros-pesquisar {
    background-color: #396bba;
    color: #ffe031;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    font-size: 25px;
}

/*Fim Style Pesquisar*/
/* Inicio Style Editar Campos */

.editar-cima {
    display: flex;
    justify-content: center;
}

.editar-nome {
    margin-right: 70px;
    border-radius: 20px;
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.editar-ra {
    border-radius: 20px;
    width: 115px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.editar-semestre {
    border-radius: 20px;
    width: 50px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.editar-infos {
    border-radius: 20px;
    width: 140px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.editar-resumo {
    border-radius: 20px;
    width: 350px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}

.editar-prof {
    border-radius: 20px;
    width: 50px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 6px;
}

.editar-botao {
    width: 200px;
    height: 100px;
    font-weight: bolder;
    background-color: #FFE031;
    color: #041b40;
    font-size: 30px;
}

.editar-botao:focus-within {
    background: red;
    cursor: pointer;
}

/* Fim Style Editar Campos */